body {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.7;
    color: #eee;
    height: 100vh;
}

.header {
    height: 100vh;
    background-image:
        linear-gradient(to right bottom,
            rgba(37, 117, 139, 0.8),
            rgba(8, 32, 65, 0.8)),
        url('Free\ Vector\ Technology\ banner\ background\ with\ hexagonal\ shapes\ and\ text\ space.jpg');

    background-size: cover;
    background-position: top;
    position: relative;

    clip-path: polygon(0 0, 100% 0, 100% 80vh, 0 100%);
}

.header-about {
    height: 150vh;
    background-image:
        linear-gradient(to right bottom,
            rgba(37, 117, 139, 0.8),
            rgba(8, 32, 65, 0.8)),
        url('Free\ Vector\ Technology\ banner\ background\ with\ hexagonal\ shapes\ and\ text\ space.jpg');

    background-size: cover;
    background-position: top;
    position: relative;

}

.text-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.home-primary {
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.home-text-main {
    display: block;
    font-size: 26px;
    font-weight: 400;
    letter-spacing: 5px;
}

.home-text-sub {
    display: block;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 7.4px;
}

.btn:link,
.btn:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 10px 20px;
    display: inline-block;
    border-radius: 100px;
    transition: all .2s;
    position: relative;
}

.btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.btn:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.btn-white {
    background-color: #fff;
    color: #777;
    font-size: 14px;
}

a {
    text-decoration: none;
    color: white;
}

.navbar {
    width: 88%;
    margin: auto;
    padding: 15px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    background-color: none;
    padding: 10px;
}

.logo {
    cursor: pointer;
    outline: none;
    color: white;
    text-decoration: none;
}

.navbar ul li {
    list-style: none;
    display: inline-block;
    margin: 0 15px;
}

.navbar ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-family: sans-serif;
}

b {
    text-decoration: underline;
}

.container {
    font-size: 18px;
}